@model IEnumerable<WarehouseModel>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model)
{
    <p>@item.Id @item.Name @item.Quantity  <a asp-action="Update" asp-route-id="@item.Id">Edytuj</a> | <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a></p>
}

<a asp-action="Create">Utwórz</a>
